.icons {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--color-text);
}

.icons a {
  transition: background-color var(--transition);
}

.icons a:hover {
  background-color: var(--color-accent);
}

.icon {
  display: block;
  width: 30px;
  height: 30px;
  margin: 20px;
}

@media (max-width: 600px) {
  .icon {
    width: 20px;
    height: 20px;
    padding: 10px;
    margin: 15px;
  }
}
